@model IEnumerable<HW_14__InventoryAPI.Models.ProductModel>

@{
    ViewData["Title"] = "All Products";
}
<meta lang="en-us" />

<h1><strong>All Products</strong></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>

    
                       
</table>
@*<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="CountInventorySum">Count Inventory Price</a>*@
<td>
@Html.ActionLink("Count Inventory Price", "CountInventorySum", "Product") 
@Html.ActionLink("Sort", "ViewByType", "Product")
</td>
